[submodule "cpp/deps/gzip_reader"]
	path = cpp/deps/gzip_reader
	url = https://github.com/gatoravi/gzip_reader.git
[submodule "cpp/deps/args"]
	path = cpp/deps/args
	url = https://github.com/Taywee/args.git
[submodule "cpp/deps/iitii"]
	path = cpp/deps/iitii
	url = https://github.com/ekg/iitii.git
[submodule "cpp/deps/sdsl-lite"]
	path = cpp/deps/sdsl-lite
	url = https://github.com/simongog/sdsl-lite.git
[submodule "cpp/deps/ips4o"]
	path = cpp/deps/ips4o
	url = https://github.com/SaschaWitt/ips4o.git
[submodule "cpp/deps/BBHash"]
	path = cpp/deps/BBHash
	url = https://github.com/vgteam/BBHash.git
[submodule "cpp/deps/atomicbitvector"]
	path = cpp/deps/atomicbitvector
	url = https://github.com/ekg/atomicbitvector.git
[submodule "cpp/deps/atomic_queue"]
	path = cpp/deps/atomic_queue
	url = https://github.com/max0x7ba/atomic_queue.git
[submodule "cpp/deps/flat_hash_map"]
	path = cpp/deps/flat_hash_map
	url = https://github.com/skarupke/flat_hash_map
[submodule "cpp/deps/mmmulti"]
	path = cpp/deps/mmmulti
	url = https://github.com/ekg/mmmulti.git
[submodule "cpp/deps/paryfor"]
	path = cpp/deps/paryfor
	url = https://github.com/ekg/paryfor.git
